*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*UTILITY*/

.d-flex{
    display: flex;
}

/*FINE UTILITY*/


/*LAYOUT*/

.container{
    max-width:1000px;
    margin: 0 auto;
}

header .container{
    position:fixed;
    background-color: orange;
    height:40px;
}

main .container{
    padding-top: 55px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width: calc(100%/3);
}

.content{
    margin:10px;
    border: 1px solid black;
}

.content .main-image{
    width: 100%;
    display: block;
}

/*FINE LAYOUT*/

.hover-image {
    width:100%;
    display:none ;
}

.col-33:hover .hover-image{
    display: block;
}

.col-33:hover .main-image{
    display: none;
}